*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  padding: 140px 0 100px;
}

.gallery{
  max-width: 1300px;
  display: grid;

  /* methode 1 */
  /* grid-template-columns: repeat(auto-fit, 250px); */

    /* methode 2*/
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */

    /* methode 3 technique tailwind */
    grid-template-columns: repeat(4, 1fr);

 
  justify-content: center;    
  margin: 0 auto;
  padding: 0 20px;
  /* flex-wrap: wrap; */
  gap: 10px;
  justify-content: center;
}

.gallery li {
  list-style-type: none;
}

.gallery li img {
  width: 100%;
}


  
  /* methode 1 */
/*@media(max-width: 540px){
  .gallery {
    grid-template-columns:1fr;
  }*/




        /* methode 3 technique tailwind */

    @media (max-width: 1000px) {
        .gallery {
          grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 800px) {
        .gallery {
          grid-template-columns: repeat(2, 1fr);
        }
    }


  @media (max-width: 500px) {
     .gallery {
      grid-template-columns: 1fr;
  }
}