*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #da8989;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  height: 150px;
  font-size: 45px;
  margin-bottom: 20px;
  background: crimson;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu */
.percentage{
  width: 50%;
  margin: auto;
}

.pixels{
  width: 400px;
}

.vw{
  width: 50vw;
  width: 90vmin;
  width: 100vmax; 
}

.vh{
  width: 100vh;
}

.parent{
  font-size: 20px;
}

.child{
  font-size: 2rem;
}