body {
  background-color: #333;
  height: 2500px; 
}

/* Exemple 1. */

.box {
  width: 150px;
  height: 150px;
  position: static;
}

.b1 {
  background-color: crimson;
  position: relative;
  left: 250px;
  top: 10px;
}

.b2 {
  background-color: yellowgreen;
  position: absolute;
  left: 200px;
  top: 50px;
}

.b3 {
  background-color: skyblue;
  position: fixed;
  right: 0;
}

.b4 {
  background-color: cornsilk;
  position: sticky;
  top:0;
}

.b5 {
  background-color: coral;
}

/* Exemple 2. */

.parent {
  width: 200px;
  height: 200px;
  background-color: thistle;
  position: relative;

}
.child {
  width: 50px;
  height: 50px;
  background: crimson;
  position: absolute;
  left: 50%;
  top:0;
}